<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="css/home-style.css">
	<link rel="icon" href="img/7fcde34b8b.png">
</head>
<body>
	<div class="header">
		<div class="heading">{{heading}}</div>
	</div>

	<div class="post clearfix" style="text-align: center;">
		<p>{{errormsg}}</p>
	</div>
</body>
</html>