<!DOCTYPE html>
<html>
<head>
	<title>LOGIN PAGE</title>
	<link rel="stylesheet" type="text/css" href="css/login-style.css">
	<link rel="icon" href="img/7fcde34b8b.png">
	<script type="text/javascript" src="js/login-script.js"></script>
</head>
<body>
	<div class="header">
		<h1 class="heading">{{heading}}</h1>
		<p class="navlink">
			<a href="/signup">Not a registered user</a>&nbsp|&nbsp<a href="/">Home</a>
		</p>
	</div>
	<form class="box">
		Email:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="email" id="emailid"><br>
		Password:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="password" id="pswd"><br>
		<button type="button" onclick="login()">Login</button>
	</form>
</body>
</html>